<!DOCTYPE html>
<html>
<head>
  <title>PigSearch</title>
  <%= stylesheet_link_tag    "pig_search/application", media: "all" %>
  <%= javascript_include_tag "pig_search/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
